p {line-height: 1.5;margin-bottom:15px; font-size: 20px }
#texto1  { font-size: 150 px }
.titulo { font: 20px; font-family: 'Marko One', serif; }
body {background-color: lemonchiffon; color: rgb(66, 64, 45);text-align: center;}